<header class="top-bar">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">
    <div class="navbar-header">
      <a class="navbar-brand">
        <img src="../../../assets/logo.png">
        <h1>Losh</h1>
      </a>
    </div>
    <div class="right-panel">
      <a class="icon-nav">
        <div class="icon-round icon-login"></div>
        <span class="icon-text">Вход</span>
      </a>
      <a class="icon-nav">
        <div class="icon-round icon-registration"></div>
        <span class="icon-text">Регистрация</span>
      </a>
    </div>
  </nav>
</header>
