@import "../../../assets/scss/variables";

$opacity: 90;

$transparentize: (100 - $opacity) / 100;

.top-bar {
  width: 100%;
  position: fixed;
  top: 0;
  background: linear-gradient(to right,
    transparentize($pink-orange, $transparentize) 0%,
    transparentize($violet,$transparentize) 100%);
  z-index: 50;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.4);
}

.top-navbar {
  display: flex;
  align-items: stretch;
  min-height: 70px;
  padding: 0 30px;
}

.navbar-collapse {
  display: flex;
  align-items: center;
  flex: 1;
}

.right-panel {
  margin-left: auto;
}

.icon-nav {
  display: inline-block;
  cursor: pointer;
  font-size: 2em;
  color: rgba(180, 200, 255, 0.8);
  width: 75px;
  line-height: 0.65;
  text-align: center;
  transition: color 0.2s ease;
  font-weight: 600;
  &:hover {
    color: rgba(180, 200, 255, 1);
  }
  .icon-text {
    font-size: 0.7rem;
  }
}

.lnr-enter {
  margin-left: -5px;
}
