@import "../../../assets/scss/variables";

$opacity: 90;

$transparentize: (100 - $opacity) / 100;
$icon-size: 38px;

@mixin transition {
  transition: all 0.25s ease-in-out;
}

.navbar-brand {
  display: flex;
  align-items: center;
  img {
    width: 200px;
  }
  h1 {
    text-transform: uppercase;
    font-size: 3em;
    margin: 0 0 0 15px;
    font-weight: 600;
    color: #2f3239;
    font-family: 'Finger Paint', cursive;
  }
}

.top-bar {
  width: 100%;
  position: fixed;
  top: 0;
  background: linear-gradient(to right,
    transparentize($pink-orange, $transparentize) 0%,
    transparentize($violet, $transparentize) 100%);
  z-index: 50;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.4);
}

.top-navbar {
  display: flex;
  align-items: center;
  min-height: 70px;
  padding: 0 30px;
}

.right-panel {
  margin-left: auto;
}

.icon-nav {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
  color: lighten($violet, 25);
  width: 60px;
  font-weight: 600;
  @include transition;
  .icon-round {
    background-color: darken($violet, 15);
    transition: background-color 0.2s ease-in-out;
  }
  &:hover {
    color: lighten($violet, 18);
    .icon-round {
      background-color: darken($violet, 21);
    }
  }
  .icon-text {
    position: relative;
    top: 4px;
    font-size: 0.65rem;
    text-transform: uppercase;
  }
  &.active {
    .icon-round {
      box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.08);
    }
  }
}

.icon-round {
  display: inline-block;
  width: $icon-size;
  height: $icon-size;
  border-radius: $icon-size;
  background-position: 50%;
  background-size: 65%;
  box-shadow: 0 0 12px transparentize(mix($violet, $pink-orange, 75%), .6);
}
