@import "assets/scss/variables";
@import "assets/scss/buttons";
@import "assets/scss/font-gilroy";

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

body {
  display: table;
  background-color: $bg-color;
  padding-top: $header-height;
  font-size: 14px;
  font-family: "Gilroy", sans-serif;
}


